@model ToDo.Web.Mvc.Models.EditItemModel


@{
    ViewData["Title"] = "Editar item";
}



<div class="col-md-4">
    <form asp-action="Update">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Done" class="control-label">Item foi concluído ou não</label>
            <input asp-for="Done" value="@model.Done" class="form-control" type="checkbox"/>
            <span asp-validation-for="Done" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Editar tarefa" action="Update" class="btn btn-primary" />
        </div>
    </form>
</div>


<div>
    <a asp-action="Index">Voltar</a>
</div>
